.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  padding: 3px 5px 4px 5px;
  color: white;
  background-color: var(--main-bg-color);
  border: 1px solid white;
  border-radius: 7px;
  cursor: pointer;

}
.btn:hover{
 font-weight: bold;
}
.my-1{
  margin: 5px 0;
}
.my-2{
  margin: 26px 0;
}
.text-center{
  text-align: center;
}
